<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">TrueSight</a>
  </div>
  
</nav>

<div class="container">
  <div class="upload-btn btn btn-primary">
    Choose File
    <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv"/>
  </div>
  
  <div class="row">
    <div class="col-sm-12" *ngIf="records.length > 0">
      <div class="card mt-2">
        <div class="card-body">
          <h4 class="card-title">KDA Score Chart</h4>
          <canvas
            baseChart
            [data]="kdaData"
            [type]="'line'"
            [options]="chartOptions"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6" *ngIf="records.length > 0">
      <div class="card mt-2">
        <div class="card-body">
          <h4 class="card-title">Gold Earned Chart</h4>
          <canvas
            baseChart
            [data]="goldData"
            [type]="'bar'"
            [options]="chartOptions"
          >
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6" *ngIf="records.length > 0"> 
      <div class="card mt-2">
        <div class="card-body">
          <h4 class="card-title">Creep Score Chart</h4>
          <canvas baseChart
            [data]="creepsData"
            [type]="'doughnut'"
            [options]="chartOptions">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>



<table class="minimalistBlack" *ngIf="records.length > 0">
  <thead>
    <tr>
      <th>TEAM </th>
      <th>PlayerID</th>
      <th>Opponent</th>
      <th>Position</th>
      <th>Champion</th>
      <th>Kills</th>
      <th>Deaths</th>
      <th>Assists</th>
      <th>Creep Score</th>
      <th>Gold Earned</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of records;let i = index;">
      <td> <span>{{record.team}}</span> </td>
      <td> <span>{{record.playerId}}</span> </td>
      <td> <span>{{record.opponent}}</span> </td>
      <td> <span>{{record.position}}</span> </td>
      <td> <span>{{record.champion}}</span> </td>
      <td> <span>{{record.kills}}</span> </td>
      <td> <span>{{record.deaths}}</span> </td>
      <td> <span>{{record.assists}}</span> </td>
      <td> <span>{{record.creepScore}}</span> </td>
      <td> <span>{{record.goldEarned}}</span> </td>
      <td> <span>{{record.result}}</span> </td>
    </tr>
  </tbody>
</table>