@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.upload-btn {
    position: relative;
    overflow: hidden;
  }
.upload-btn input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

.kda-btn {
  margin-right: 1rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-container img {
  width: 80px;
}
.logo-container h2 {
  font-family: 'Lato', sans-serif;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.blue-font {
  color: #0d6efd;
}