.upload-btn {
    position: relative;
    overflow: hidden;
  }
.upload-btn input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

.kda-btn {
  margin-right: 1rem;
}